@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #E5E5E5;
	width: 100%;
	text-align: center;
	height: 100%;
}
/*темная*/
.dark_body {
	background-color: #2B234C;
}
.container {
	width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: flex-end;
}
.head {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 45vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head__img {
    width: 130%;
    object-fit: cover;
    height: 100%;
}
/*main добавить класс*/
main {
    bottom: 0;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__head {
	font-size: 22px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/*темная*/
.dark_mainHead {
	color: #fff;
}
.push {
	font-family: 'Poppins', sans-serif;
	border-radius: 8px;
    background-color: #2B234C;
    text-transform: uppercase;
    width: 100%;
    border: none;
    cursor: pointer;
}

/*темная*/
.dark_push {
	background-color: #D259F5;
}
.dark_push:hover::after {
	content: '';
	background-color:  #2B234C;
	opacity: 0.5;
	box-shadow: 1px 3px 5px 0px;
}
.push p {
    color: #fff;
    font-size: 17px;
}
.notPush {
	color: #2B234C;
    background-color: #E5E5E5;
    border: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
/*темная*/
.dark_notPush {
	color: #D259F5;
	background-color: #2B234C;
}