@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/cosmos.jpg);
}

.container {
    margin-top: 25vmin;
	text-align: center;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	
}

.item {
	display: inline-block;
	width: 60%;
	margin-bottom: 40px;
}


.itemLink {
	color: #fff;
	font-size: 10vmin;
	text-decoration: none;
}

.itemLink:hover {
	color: #97c0f4;

}



