@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      color: #000;
      background-color: #fcfbf6;
    }
    .container {
      width: 75%;
      margin: 0 auto;
    }
    .row {
      text-align: center;
      padding: 1.5em;
    }
    .desctop_button {
      color: #000;
      text-decoration: none
    }
    .slider {
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 22%;
      max-width: 25%;
      border: 1px solid #000;
      height: 70px;
      padding: 10px;
    }
    .wrap_item {
    /*   height: 250px;
    padding: 10px; */
    }

    .wrap_item img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .slider__control {
      position: absolute;
      top: 12em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      text-align: center;
      opacity: 0.5;
      height: 50px;/* 
      transform: translateY(-50%); */
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      text-align: center;
    }

    .slider__control_right::before {
      text-align: center;
    }

    .slider__item>div {
      /* line-height: 150px; */
      /* font-size: 50px; */
      text-align: center;
      height: inherit;
    }
  @media screen and (max-width: 768px){
    .slider__item {
      flex: 0 0 46%;
      max-width: 46%;
      border: 1px solid #000;
    }
    .slider__control {
      width: 50px;
    }
    .desctop_button {
      display: none;
    }
  @media screen and (max-width: 426px){
    .slider__control {
      top: 16em;
      width: 25px;
      transform: translateY(-50%)
    }
    .slider__item {
      flex: 0 0 43%;
      max-width: 43%;
    }

    
  }