a {
	color: #000
}
.main-header {
	padding: 1em 2.5em;
	background: rgb(0 0 0 / 35%);
}
.card {
	width: 8rem;
	margin-left: auto;
    margin-right: auto;
}
h2 {
	font-size: 20px;
}
.aside-in-main {
	padding: 1em;
	border: 1px solid #fed136;
	width: 25%;
}
.card-head {
	font-size: 16px;
	color: #fed136;
	transition: 0.3s;
}
.card-head:hover {
	font-size: 18px;
	transition: 0.3s;
}
.main-head {
	position: absolute;
	top: 20%;
    left: 9rem;
}
.main-info {
	position: relative;
}
.main-description {
	color: #fed136;
}

.mainimg-container {
	width: 33em;
    height: 100%;
    background-image: url(img/mainproduct.png);
    background-origin: border-box;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.next-section {
	margin-top: 2em;
}
.novisible {
	display: none;
}
.footer {
	padding: 1em;
	margin-top: 1em;
	background-color: #fed13636;
}

@media (max-width: 768px) {
	.main-section {
		flex-wrap: wrap;
	}
	.main-in-main {
		min-width: 100%;
	}
	.main-info {
		width: 75%;
    	height: inherit;

	}
	.mainimg-container {
		margin: 0;
		height: 100%;
	}
	.aside {
		width: 100%;

	}
	.aside_main {
		display: flex;
		justify-content: space-evenly;
	}
}

@media (max-width: 425px) {
	.aside-in-main {
    	padding: 1em;
    	border: 1px solid #fed136;
    	width: 100%;
	}
	.main-info {
	    width: 100%;
	    height: 35em;
	}
	.main-head {
    	left: 0rem;
	}
	.mainimg-container {
    width: 100%;
	}
}